<h1>Listing articles</h1>
 
 <%= link_to 'New event', new_event_path %>

<table>
  <tr>
    <th>Date</th>
    <th>Subject</th>
    <th>Tutor</th>
    <th>Attendees</th>
  </tr>
 
  <% @event.each do |event| %>
    <tr>
      <td><%= event.date %></td>
      <td><%= event.subject %></td>
      <td><%= event.tutor %></td>
      <td><%= event.attendees %></td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

