
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
 
<p>
  <strong>Subject:</strong>
  <%= @event.subject %>
</p>

<p>
  <strong>Tutor:</strong>
  <%= @event.tutor %>
</p>

<p>
  <strong>Attendees:</strong>
  <%= @event.attendees %>
</p>

<%= link_to 'Done', events_path %>